@font-face{
    font-family: akzidenz;
    src:url(../resources/font/akzidenz-grotesk_bq_bold_extended.woff)
}
@font-face {
    font-family: helvetica-neue;
    src: url(../resources/font/Helvetica\ Neue\ Regular.woff);
}